@import 'libs/reset.scss';

body {
  font-family: 'Cabin Sketch', cursive;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0.5rem 1rem;
  background-color: #283645;
  overflow: hidden;
  li {
    float: left;
    a {
      font-size: 1.2em;
      cursor: pointer;
      color: white;
      padding: 20px;
      text-decoration: none;
      display: block;
      &:hover {
        background-color: #17a2b8;
      }
    }
  }
}
header {
  width: 1000px;
  background-color: #17a2b8;
  border-radius: 25px;
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  margin: 8px auto;
  h1 {
    color: #fff;

    font-size: 2.5em;
    font-weight: 500;
  }
}
.container {
  margin: 10 auto;
  padding: 20px;
}
.align-middle {
  vertical-align: top;
}
.table {
  width: 100%;
  //padding:10px ;
  margin: 20px auto;
  .table-dark {
    background-color: #283645;
    color: #fff;
    padding: 10px;
    margin: 10px;
  }
}
table td {
  padding: 0.75rem;

  border-top: 2px solid #333;
  a {
    text-decoration: none;
    color: #0c0c0c;
  }
}
table th {
  font-size: 1.2em;
  padding: 12px;
}
.btn {
  padding: 5px;
  border-radius: 25px;
  //background-color: aqua;
}
.btn-warning {
  color: #fff;
  background-color: orange;
}

.btn-danger {
  background-color: red;
  color: #fff;
}
.btn-success {
  background-color: green;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: block;
}
.align-middle{
  text-align: center;
}
